html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
@font-face {
    font-family: "Product Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"),
        url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2)
            format("woff2");
}

body {
    font-family: "Product Sans";
}

.container {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 2em auto;
}

nav {
    background-color: #1a1e26;
    display: flex;
    align-items: center;
    position: sticky;
    padding: 0;
    width: 100%;
    top: 0;
    height: 7vh;
}

.container1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container2 {
    display: flex;
    /* height: 45vh; */
    width: 100%;
    padding-top: 2rem;
    align-items: center;
    justify-content: center;
}

.nav-left {
    margin-right: auto;
    display: flex;
    align-items: center;
}
.nav-link {
    text-decoration: none;
    color: white;
    font-family: "Product Sans", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 25px;
    padding: 0 0.5em;
}
.nav-link:hover {
    color: grey;
}

.navbar img {
    width: 40px;
    height: 40px;
    border-radius: 4rem;
}

.navbar-brand,
.navbar-brand:hover {
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
    font-size: 18px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.row3 {
    margin: auto;
    width: 80vw;
    /* display: grid; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.col3 {
    position: relative;
    border-radius: 2rem;
    border-style: solid;
    border-width: 2px;
    padding: 2rem 0;
    margin: 1rem;
    flex: 1 1 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    /* background-image: linear-gradient(45deg, #0093e9 0%, #80d0c7 100%); */
}

.card-logo {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.card-title {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 170%;
    text-align: center;
    font-weight: bold;
}

.remove-button {
    background-color: #64aec5;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 20%;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.nav-left-2 {
    margin-left: auto;
    display: flex;
    align-items: center;

    text-decoration: none;
    color: white;
    font-family: "Product Sans", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 0 0.8em;
}

.remove-button:hover {
    background-color: #74cbe5;
}

.var {
    display: flex;
    margin-left: 13%;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
}

.col-5 {
    margin: 0;
}

.col-3 {
    flex: 0 0 5%;
}

.col-1 {
    flex: 0 0 1%;
}

.form-control {
    padding: 10px;
    box-sizing: border-box;
}

.btn-primary {
    color: #fff;
    background-color: #64e8e8;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #afeeee;
}

.centered-header {
    margin: 0 auto;
    padding: 2rem 0;
    font-weight: bold;
    font-size: 30px;
}

.flash-container {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
}

.empty {
    background-color: rgba(0, 0, 0, 0);
    margin: auto;
    color: white;
    padding: 2rem;
    text-align: center;
    border: 2px solid white;
    border-radius: 5%;
}

.gradient {
    font-size: 30px;
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 50%);
    color: white;
    padding: 1rem;
    background-size: 200% 200%;
}
.inv-gradient {
    font-size: 30px;
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 50%);
    color: white;
    padding: 1rem;
    background-size: 200% 200%;
}
.inv-gradient:hover {
    animation: Animation 2s ease infinite;
}
.gradient:hover {
    animation: Animation 2s ease infinite;
}
.links {
    width: 70vw;
    height: 20vh;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 5vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link {
    width: 30%;
    height: 100%;
    vertical-align: center;
    margin: 0.5rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
html {
    background-color: #0093e9;
    background-image: linear-gradient(45deg, #0093e9 0%, #80d0c7 100%);
}
body {
    height: 100vh;
    margin: 0;
}
.form-control {
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border-color: white;
    border-style: solid;
    border-radius: 2rem;
    text-align: center;
    box-shadow: none;
    color: white;
}
.form-control::placeholder {
    color: white;
}
@keyframes Animation {
    0% {
        background-position: 10% 0%;
    }
    50% {
        background-position: 91% 100%;
    }
    100% {
        background-position: 10% 0%;
    }
}
h1 {
    color: #fff;
}
#graph_svg {
    fill: white;
}
@media (max-width: 1000px) {
    .row3 {
        flex-direction: column;
        justify-content: space-around;
    }
    .col3 {
        width: 50%;
    }
    .container {
        width: 100%;
    }
    .links {
        flex-direction: column;
    }
}
