<!--Add custom autocomplete later-->
<head>
    <title>StockSync.com | Graph</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/icon.png" />
    <link rel="stylesheet" href="../static/graph.css" />
    <script
        src="https://kit.fontawesome.com/e4cb96cad7.js"
        crossorigin="anonymous"
    ></script>
</head>
<body onresize="{redraw()}">
    <div>
        <nav>
            <div class="container">
                <div class="nav-left">
                    <span>
                        <a href="/dashboard">
                            <img
                                src="../static/icon.png"
                                class="img-fluid rounded"
                                width="40"
                                height="40"
                            />
                        </a>
                    </span>
                    <span>
                        <a href="/filter" class="nav-link">Filter</a>
                    </span>
                </div>
                <div class="nav-left-2">
                    <span>
                        <a>{{username}}</a>
                    </span>
                </div>
                <a href="/logout" style="margin-right: 15px">
                    <img
                        src="../static/logout.png"
                        alt=""
                        width="20"
                        height="20"
                    />
                </a>
            </div>
        </nav>
    </div>
    <div class="container graph-container" style="height: 80vh">
        <div class="main row">
            <div class="col inner-col" style="width: 100%; height: 100%">
                <div class="row top-row" style="padding-bottom: 5vh">
                    <div id="stock-details">
                        <div style="margin-left: 10px"></div>
                    </div>
                    <div id="form-div" class="col form-floating">
                        <form
                            autocomplete="off"
                            id="symbol-form"
                            style="margin: auto"
                        >
                            <div class="row time-sel">
                                <div class="btn-group" role="group">
                                    <input
                                        type="radio"
                                        class="btn-check-black first-label"
                                        id="days"
                                        name="time"
                                        value="days"
                                        autocomplete="off"
                                        checked
                                    />
                                    <label
                                        class="btn btn-dark first-label"
                                        for="days"
                                        >Days</label
                                    >

                                    <input
                                        type="radio"
                                        class="btn-check-black"
                                        id="weeks"
                                        name="time"
                                        value="weeks"
                                    />
                                    <label class="btn btn-dark" for="weeks"
                                        >Weeks</label
                                    >

                                    <input
                                        type="radio"
                                        class="btn-check-black"
                                        id="years"
                                        name="time"
                                        value="years"
                                    />
                                    <label
                                        class="btn btn-dark last-label"
                                        for="years"
                                        >Years</label
                                    >
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input
                                        type="text"
                                        class="symbol-input form-control"
                                        placeholder="symbol"
                                    />
                                </div>
                                <div class="col">
                                    <input
                                        type="text"
                                        id="year-input"
                                        class="form-control"
                                        placeholder="time"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="btn-group" role="group">
                                    <input
                                        type="radio"
                                        class="btn-check"
                                        id="open"
                                        name="metric"
                                        value="open"
                                        autocomplete="off"
                                        checked
                                    />
                                    <label
                                        class="btn btn-outline-primary first-label"
                                        for="open"
                                        >Open</label
                                    >

                                    <input
                                        type="radio"
                                        class="btn-check"
                                        id="close"
                                        name="metric"
                                        value="close"
                                    />
                                    <label
                                        class="btn btn-outline-primary"
                                        for="close"
                                        >Close</label
                                    >

                                    <input
                                        type="radio"
                                        class="btn-check"
                                        id="high"
                                        name="metric"
                                        value="high"
                                    />
                                    <label
                                        class="btn btn-outline-primary"
                                        for="high"
                                        >High</label
                                    >

                                    <input
                                        type="radio"
                                        class="btn-check"
                                        id="low"
                                        name="metric"
                                        value="low"
                                    />
                                    <label
                                        class="btn btn-outline-primary"
                                        for="low"
                                        >Low</label
                                    >

                                    <input
                                        type="radio"
                                        class="btn-check"
                                        id="volume"
                                        name="metric"
                                        value="volume"
                                    />
                                    <label
                                        class="btn btn-outline-primary last-label"
                                        for="volume"
                                        >Volume</label
                                    >
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="width: 100%">
                                    <div
                                        class="row"
                                        style="justify-content: center"
                                    >
                                        <button
                                            type="submit"
                                            class="btn btn-success"
                                            style=""
                                        >
                                            Plot
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div
                        id="compare-div"
                        style="padding: 1em 1em; width: 100%; height: 100%"
                    >
                        <div
                            class="row"
                            style="
                                align-items: center;
                                justify-content: space-between;
                            "
                        >
                            <div class="col">
                                <h2 style="font-size: 2em">Compare</h2>
                            </div>
                            <div class="row">
                                <button
                                    id="add-btn"
                                    class="btn btn-dark arith-btn"
                                >
                                    +
                                </button>
                                <button
                                    id="sub-btn"
                                    class="btn btn-dark arith-btn"
                                >
                                    -
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    id="chart-div"
                    class="row"
                    style="position: relative; width: 100%; height: 100%"
                >
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-autocolors"></script>
    <script src="
https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
    <script src="../static/src/graph.js"></script>
</body>
