<!DOCTYPE html>
<html>
<head>
    <title>StockSync.com | Register</title>
    <meta charset="utf-8"/>
    <link rel = "shortcut icon" type = "image/x-icon" href = "https://cdn-icons-png.flaticon.com/512/25/25231.png">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .flashed{
            list-style-type: none;
            margin: 10px 0;
            color: #008000;
            font-size: small;
        }
    </style>
</head>
<body>
    <div class="container">
    <div class="form-container">
        <h2>Register</h2>
        <form action="/register" method="post">
            <div class="form-group">
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input type="password" id = "password" name="password" placeholder="Password" required>
                
            </div>
            <div class="form-group">
                <input type="password" id = "confirm_password" name="confirm_password" placeholder="Confirm Password" required>
                <input type = "checkbox" onclick ="Funct()"/>Show Password
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashed">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
            <div class="form-group">
                <button type="submit">Register</button>
            </div>
            
        </form>
        <p>Already have an account? <a href="/">Login here</a></p>
        <script>
            function Funct(){
                var x = document.getElementById("password");
                var y = document.getElementById("confirm_password");
                var icon = document.querySelector(".eye-icon");
                if(x.type === "password"){
                  x.type = "text";
                  y.type = "text";
                  icon.innerHTML = '\u{1F441}';
                }else{
                  x.type = "password";
                  y.type = "password";
                  icon.innerHTML = '\u{1F441}\u{FE0F}';
                }
              }
            </script>
    </div>
</div>
</body>
</html>
