<!DOCTYPE html>
<html>
  <head>
    <title>StockSync.com | Dashboard</title>
    <meta charset="utf-8" />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://cdn-icons-png.flaticon.com/512/25/25231.png"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <style>
      .flashed {
        list-style-type: none;
        margin: 10px 0;
        color: #721c24;
        font-size: small;
      }
    </style>
  </head>
  <body>
    <a href={{ url_for('graph') }}>Graph!</a>
    <a href={{ url_for('filter') }}>Filters!</a>
    <h2>Your Favorites:</h2>
    <ul>
      {% for favorite in favorites %}
      <li>{{ favorite }}</li>
      {% endfor %}
    </ul>
    <div class="welcome-container">
      <h1>Welcome, {{ username }}!</h1>
      <form method="post" action="{{ url_for('dashboard') }}">
        <input
          type="text"
          name="new_favorite"
          placeholder="Add a new favorite"
        />
        <button type="submit">Add</button>
      </form>
      {% with messages = get_flashed_messages() %} {% if messages %}
          <ul class="flashed">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %} {% endwith %}
      <a href="/logout" class="logout-button">Logout</a>
      <a href="filter" 
    </div>
  </body>
</html>
