<!DOCTYPE html>
<html>
<head>
    <title>StockSync.com | Login</title>
    <meta charset="utf-8"/>
    <link rel = "shortcut icon" type = "image/x-icon" href = "https://cdn-icons-png.flaticon.com/512/25/25231.png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .flashed{
            list-style-type: none;
            margin: 10px 0;
            color: #721c24;
            font-size: small;
        }
    </style>
</head>
<body>
    <div class="container">
        
    

    <div class="form-container">
        <h2>Login</h2>
        <form action="/login" method="post">
            <div class="form-group">
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashed">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
        </form>
        <p>Don't have an account? <a href="/register">Register here</a></p>
    </div>
</div>
</body>
</html>
